.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 80px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #222;
  background-color: inherit;
  transition: 300ms;
  cursor: pointer;
  color: #c9d1d9;
  margin: 1% 0;
  padding: 1rem;

  h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 1rem;
  }

  &:hover {
    border: 1px solid #e6e6e6;
  }
}

.cardImage {
  border-radius: 20%;
}
